<a href="https://colab.research.google.com/github/ThangDoan2001/API-Python-Learn/blob/master/Python_Lesson_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Set is unordered and unindexed. It cannot cotain unhashable type : list and dict

Some function:
1. copy()
2. add()
3. union()
4. difference()
5. difference_update()
6. symmetric_difference()
7. symmetric_difference_update()
8. remove() - error
9. dicard() - no error

In [1]:
a_list = [i*2 for i in range(10)]
print(a_list)
print(type)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
<class 'list'>

In [2]:
# Create a set
a_set = {i*i for i in range(10)}
print(a_set)
print(type(a_set))
# Normally, this is an unordered set and using hash function to store

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}
<class 'set'>

In [3]:
# copy
set1 = {i*i for i in range(10)}
set2 = set1.copy()
print(set1)
print(set2)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}
{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [4]:
# Because set is unordered so can use index
# Can't use set1[0]

In [5]:
for v in set1:
  v = 5
print(set1)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [6]:
# Because set using hash function(need a fixed index to correspond with each element)-> set can't store mutable object (list)
# But set can store string, tuple because they are immutable
# Can't init set1 = {1, 2, [3, 4]}

set1 = {1, 2, (3, 4)} 
set1

{(3, 4), 1, 2}

In [7]:
# add an item
set1.add("bear")
set1

{(3, 4), 1, 2, 'bear'}

In [8]:
# join two sets
set1 = {"cat", "dog"}
set2 = {"dog", "duck", "bear"}
set3 = set1.union(set2)
set3

{'bear', 'cat', 'dog', 'duck'}

In [9]:
# insert a set to another set
set1.update({"chicken", "Duck"})
set1

{'Duck', 'cat', 'chicken', 'dog'}

In [10]:
# difference
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}
set3 = set1.difference(set2)
set3

{'banana', 'cherry'}

In [11]:
# difference_update function
set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [13]:
# symmetric_difference
# set3 = set1-set2 + set2-set1
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}
set3 = set1.symmetric_difference(set2)
set3

{'banana', 'cherry', 'pineapple'}

In [14]:
# symmectric_difference_update
set1.symmetric_difference_update(set2)
set1

{'banana', 'cherry', 'pineapple'}

In [15]:
# AND(&)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 & set2)

{3}

In [16]:
# OR(|)
print(set1|set2)

{1, 2, 3, 4, 5}

In [17]:
# XOR(^) ~ symmetric difference
print(set1^set2)

{1, 2, 4, 5}

In [18]:
# Subtraction 
print(set1 - set2)

{1, 2}

In [21]:
#remove
animals = {"cat", "dog", "bird"}
animals.remove("cat")
animals

{'bird', 'dog'}

In [ ]:
# remove element that does not exist will cause an error

In [22]:
#discard(item)
# Remove an item from the set if it is present
# remove se bao loi neu phan tu khong ton tai
# discard thi khong
animals.discard("cat")
animals

{'bird', 'dog'}

# Dictionary

Some functions:
1. copy()
2. keys()
3. values()
4. items()
5. get(x) - None when not exist compared to error with indexing 
6. pop(x) - return and remove - error when not exist
7. popitem () - return and remove the last element - error when empty
8. clear()
9. del(x) - error when not exist
10. setdefault()

In [25]:
# dic comprehension
a_dict = {i:i*i for i in range(10)}
a_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [31]:
keys = {i*i for i in range(5)}
values = [str(i) for i in range (5)]

a_dict = dict(zip(keys, values))
a_dict

{0: '0', 1: '1', 4: '2', 9: '3', 16: '4'}

In [32]:
# update a value
a_dict[0] = '1'
a_dict

{0: '1', 1: '1', 4: '2', 9: '3', 16: '4'}

In [33]:
a_dict1 = a_dict.copy()
a_dict1

{0: '1', 1: '1', 4: '2', 9: '3', 16: '4'}

In [35]:
# get keys 
keys = a_dict.keys()
for key in keys:
  print(key)

0
1
4
9
16

In [36]:
for key in a_dict:
  print(key)

0
1
4
9
16

In [38]:
values = a_dict.values()
values

dict_values(['1', '1', '2', '3', '4'])

In [39]:
items = a_dict.items()
for key, value in items:
  print(key, value)

0 1
1 1
4 2
9 3
16 4

In [43]:
a_dict.get(1)

'1'

In [47]:
item = a_dict.popitem()
print(item)
print(a_dict)

item = a_dict.popitem()
print(item)
print(a_dict)

(16, '4')
{0: '1', 4: '2', 9: '3'}
(9, '3')
{0: '1', 4: '2'}

In [48]:
item = a_dict.pop(0)
print(item)

1

In [49]:
# setdefault()

fruits = {'banana': 2}
fruits.setdefault('apple', 0)

fruits['apple'] += 10
print(fruits)

{'banana': 2, 'apple': 10}

In [50]:
# merge two dict
fruits = {'banana': 2, 'apple':4}
cereal = {'rice': 3, 'corn': 7}

result = {**fruits, ** cereal}
result

{'apple': 4, 'banana': 2, 'corn': 7, 'rice': 3}

In [51]:
# remove empty items

fruits = {'banana': 2, 'apple':None}

dict1 = {key:value for (key,value) 
                    in fruits.items()
                    if value is not None}

dict1

{'banana': 2}

In [55]:
# common error
fruits = ['apple', 'banana', 'peach']
for fruit in fruits:
  if(fruit == 'banana'):
    fruits.remove('banana')

  print('Do something with fruits - ', fruit)

Do something with fruits -  apple
Do something with fruits -  banana