<a href="https://colab.research.google.com/github/ThangDoan2001/API-Python-Learn/blob/master/Python_Lesson_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a_list = [i*2 for i in range(10)]
print(a_list)
print(type(a_list))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
<class 'list'>

In [5]:
# Create a set
a_set = {i*i for i in range(10)}
print(a_set)
print(type(a_set))
# Normally, this is an unordered set and using hash function to store

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}
<class 'set'>

In [6]:
# copy
set1 = {i*i for i in range(10)}
set2 = set1.copy()
print(set1)
print(set2)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}
{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [7]:
# Because set is unordered so can use index
# Can't use set1[0]

In [8]:
for v in set1:
  v = 5
print(set1)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [9]:
# Because set using hash function(need a fixed index to correspond with each element)-> set can't store mutable object (list)
# But set can store string, tuple because they are immutable
# Can't init set1 = {1, 2, [3, 4]}

set1 = {1, 2, (3, 4)} 
set1

{(3, 4), 1, 2}

In [10]:
# add an item
set1.add("bear")
set1

{(3, 4), 1, 2, 'bear'}

In [12]:
# join two sets
set1 = {"cat", "dog"}
set2 = {"dog", "duck", "bear"}
set3 = set1.union(set2)
set3

{'bear', 'cat', 'dog', 'duck'}

In [13]:
# insert a set to another set
set1.update({"chicken", "Duck"})
set1

{'Duck', 'cat', 'chicken', 'dog'}

In [14]:
# difference
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}
set3 = set1.difference(set2)
set3

{'banana', 'cherry'}

In [15]:
# difference_update function
set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}