<a href="https://colab.research.google.com/github/ThangDoan2001/API-Python-Learn/blob/master/Python_Lesson_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda

In [1]:
# lambda function
a_lfunction = lambda v1, v2: v1 + v2
print(a_lfunction(3, 4))

7

# Try/ Catch
* try
* except (có thể xử lý tương ứng với từng ngoại lệ)
* finally (optinal)

In [2]:
try: 
  value = input()
  number = int(value)
  print(f'The number is {number}')
except:
  print('Something wrong')

a
Something wrong

In [3]:
# Finally is compulsory if we add it 
try: 
  value = input()
  number = int(value)
  print(f'The number is {number}')
except:
  print('Something wrong')
finally:
  print('Do something in finally!')

6
The number is 6
Do something in finally!

In [4]:
# Catch each errors
try:
  n1 = int(input())
  n2 = int(input())

  result = n1/n2
  print(result)
except ValueError:
  print("ValueError")
except ZeroDivisionError:
  print("Error Division Error")

a
ValueError

In [5]:
# Catch each errors
try:
  n1 = int(input())
  n2 = int(input())

  result = n1/n2
  print(result)
except ValueError:
  print("ValueError")
except ZeroDivisionError:
  print("Error Division Error")

5
0
Error Division Error

In [9]:
# Don't know about errors
try:
  n1 = int(input())
  n2 = int(input())

  result = n1/n2
  print(result)
except Exception as e:
  print(e)

e
invalid literal for int() with base 10: 'e'

# Iterator & Generator


 Iterator là một biến duyệt trong iterable(list, string, dictionary,tuple...)

In [11]:
# range and iterator (for = tay)

range_object = range(3)
print(range_object)

iterator = iter(range_object) # convert range_object to iterator
print(next(iterator))
print(next(iterator))
print(next(iterator))
# print(next(iterator)) -> StopIteration (error)

range(0, 3)
0
1
2

In [15]:
ro = range(4)
print(list(ro))
iterator = iter(ro)

try:
  while True:
    print(next(iterator))
except:
  print("Something!")

[0, 1, 2, 3]
0
1
2
3
Something!

In [24]:
class AdditionValueSeries:
  def __init__(self, value, max=0):
    self.value = value
    self.max = max

  def __iter__(self):
    self.n = 0
    return self
    
  def __next__(self):
    if self.n <= self.max:
      result = self.n + self.value 
      self.n += 1

      return result
    else:
      raise StopIteration

In [31]:
# create an object  
numbers = AdditionValueSeries(5, 2)

for n in numbers: 
  print(n)

5
6
7

In [32]:
numbers = AdditionValueSeries(5, 2)
a_iter = iter(numbers)

print(next(a_iter))
print(next(a_iter))

5
6

In [35]:
# Generator

def addValueSeries(value, max=0):
  n = 0
  while n <= max:
    yield n + value
    n += 1
# Auto raise StopIteration

In [36]:
# create an object  
numbers = addValueSeries(5, 2)

for n in numbers: 
  print(n)

5
6
7

## Từ khóa Yield
Dùng dể xử lý dữ liệu lớn

Sinh ra một generator, không thể tái sử dụng, mỗi lần gọi next thì sẽ sinh ra hủy giá trị trước để nhường chỗ cho giá trị mới.

Môi lần gặp yield nó sẽ trả về kết quả và dừng hàm lại ở đó, lần sau gọi nó lại tiếp tục. Hàm sẽ dừng khi đi tiếp mà k gặp yield

In [46]:
def square(list):
  for num in list:
    yield num**2
  
list = square([1, 2, 3])
for num in list:
  print(num)

1
4
9

In [48]:
#print(next(list)) -> StopIteration

In [49]:
def gen():
  yield 1
  print('This is the first yield')
  yield 2
  print('This is the second yield')
  yield 3
  print('This is the last yield')

lst = gen()

In [50]:
print(next(lst))

1

In [51]:
print(next(lst))

This is the first yield
2

In [52]:
print(next(lst))

This is the second yield
3

In [54]:
# print(next(lst)) -> StopIteration

# XML và json

* Read from a file
* Get root element

Thuộc tính của element
1. Tag - tên của element
2. Text - Nội dung của element
3. Attrib['..']

## Không có attribute

In [39]:
import xml.etree.ElementTree as ET

mytree = ET.parse('/content/drive/MyDrive/Colab Notebooks/test.xml')
myroot = mytree.getroot()
print(myroot)
print(type(myroot))

<Element 'letter' at 0x7f275c6d4290>
<class 'xml.etree.ElementTree.Element'>

<?xml version="1.0" encoding="UTF-8"?>
<letter>
	<to>John</to>
	<from>Marry</from>
	<heading>Greeting</heading>
	<body>Congratulation!</body>
</letter>

In [40]:
to_text = myroot[0].text
from_text = myroot[1].text
heading_text = myroot[2].text
body_text = myroot[3].text

print(to_text)
print(from_text)
print(heading_text)
print(body_text)

John
Marry
Greeting
Congratulation!

## Có attribute

<?xml version="1.0" encoding="UTF-8"?>
<letter>
	<to id="123">John</to>
	<from>Marry</from>
	<heading>Greeting</heading>
	<body>Congratulation!</body>
</letter>

In [41]:
import xml.etree.ElementTree as ET

mytree = ET.parse('/content/drive/MyDrive/Colab Notebooks/test.xml')
myroot = mytree.getroot()
print(myroot)
print(type(myroot))

<Element 'letter' at 0x7f275c660f50>
<class 'xml.etree.ElementTree.Element'>

In [44]:
# Read attribute
print(myroot[0].attrib['id'])

123

In [45]:
# Use find function
print(myroot.find('from').text)

Marry